{% extends "base.html" %}

{% block content %}
<p>crud 2 test</p>
<p><a href="{{ url_for('auth_api.index')}}">auth_api</a></p>
<br>
<h2>Create</h2>
<div style="padding-left:25px;padding-bottom:25px;">
    <p><a href="{{ url_for('crud_gui.create_device')}}">device</a></p>
    <p><a href="{{ url_for('crud_gui.create_reader_to_tool')}}">reader_to_tool</a></p>
    <p><a href="{{ url_for('crud_gui.create_tool_to_vacuum')}}">tool_to_vacuum</a></p>
</div>
<h2>Read</h2>
<div style="padding-left:25px;padding-bottom:25px;">
    <p><a href="{{ url_for('crud_gui.read_devices')}}">devices</a></p>
    <p><a href="{{ url_for('crud_gui.read_reader_to_tool')}}">reader_to_tool</a></p>
    <p><a href="{{ url_for('crud_gui.read_tool_to_vacuum')}}">tool_to_vacuum</a></p>
</div>
<h2>Update</h2>
<div style="padding-left:25px;padding-bottom:25px;"></div>
<h2>Delete</h2>
<div style="padding-left:25px;padding-bottom:25px;"></div>
{% endblock %}