<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="toolauth-test">
    <meta name="keywords" content="tools, tool, access control, esphome">
    <meta name="author" content="Corey Rice">
    <!-- PWA things -->
    <meta name="theme-color" content="white" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-192x192.png')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css')}}" />
    {% block head %}{% endblock %}
    <!-- Manifest File link -->
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json')}}">
    <title>toolauth-test</title>
</head>

<body>
    <header>
        <div id=centered>
            <a href="{{ url_for('hello')}}">
                <img src="{{ url_for('static', filename='images/ta-logo.png')}}" id="header-logo" alt="Toolauth Logo">
            </a>
            <h1>toolauth-test</h1>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>

</body>
<script>
    window.addEventListener('load', () => {
        registerSW();
    });
    // Register the Service Worker
    async function registerSW() {
        if ('serviceWorker' in navigator) {
            try {
                await navigator
                    .serviceWorker
                    .register('{{ url_for('static',filename='serviceworker.js')}}');
            }
            catch (e) {
                console.log('SW registration failed');
            }
        }
    }
</script>
{% block script %}{% endblock %}

</html>