{% extends "base.html" %}

{% block content %}
<h1>Create New Tool_to_Vacuum</h1>
<div style="padding-left:50px;">
    <form method="POST">
        <label for="tool">Choose a tool:</label>
        <select name="tool" id="tool">
            {% for tool in selectable_tools if selectable_tools %}
            <option value="{{tool.tool_id}}">{{tool.name}}</option>
            {% else %}
            <option value="">no tool devices</option>
            {% endfor %}
        </select><br>
        <label for="vacuum">Choose a vacuum:</label>
        <select name="vacuum" id="vacuum">
            {% for vacuum in selectable_vacuums if selectable_vacuums %}
            <option value="{{vacuum.id}}">{{vacuum.name}}</option>
            {% else %}
            <option value="">no vacuum devices</option>
            {% endfor %}
        </select> <br>

        <button type="submit">Create</button>
    </form>
</div>
{% endblock %}