{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='crud.css')}}" />
{% endblock %}

{% block content %}
<h1>Device List</h1>
<div style="float:right;"><a href="{{ url_for('crud_gui.create_device')}}">create_device</a><br>
    <p>no validation</p>
</div>
<ul style="padding-left:50px;">
    {% for device in devices if devices %}
    <li style="padding-bottom:1rem;">{{ device.name }}<button onclick="delete_item({{ device.id }})">Delete</button>
        <ul style="padding-left:50px;">
            <li>
                <div class="stay-flat">MAC address: <span id="col_mac_addr-row_{{ device.id }}" class="stay-flat">
                        <div>{{ device.mac_addr }}</div><button
                            onclick="prep_text_update('mac_addr', {{ device.id }})">update</button>
                    </span>
                </div>
            </li>
            <li>
                <div class="stay-flat">IP address: <span id="col_ip_addr-row_{{ device.id }}" class="stay-flat">
                        <div>{{ device.ip_addr }}</div><button
                            onclick="prep_text_update('ip_addr', {{ device.id }})">update</button>
                    </span>
                </div>
            </li>
            <li>encryption_pass: <input type="text" id="api-key" onclick="this.focus();this.select()"
                    style="width: 100px;" readonly="readonly" value="{{ device.encrypt_pass}}">
            </li>
            <li>ota_pass: <input type="text" id="api-key" onclick="this.focus();this.select()" style="width: 100px;"
                    readonly="readonly" value="{{ device.ota_pass}}">
            </li>
            <li>has_card_reader:
                {% if device.has_reader == 1 %}YES{% else %}NO{% endif %}
            </li>
            <li>is_vacuum:
                {% if device.is_vacuum == 1 %}YES{% else %}NO{% endif %}
            </li>
        </ul>
    </li>
    {% else %}
    no devices
    {% endfor %}
</ul>
{% endblock %}

{% block script %}
<script>
    // delete the entire device (and all connections)
    function delete_item(id) {
        let data = new FormData()
        data.append("id", id)
        fetch("{{url_for('crud_gui.delete_device')}}", { method: "POST", body: data })
            .then(window.location.reload(true))
    }
    // change the property to an input field
    function prep_text_update(col, row) { //item=db_column
        col = col.split(" ").join("")
        let new_id = unique_id(col, row)
        let span = document.getElementById(new_id)
        let previous = span.firstElementChild.innerHTML
        let input = '<input id="' + new_id + '" type="text" value="' + previous + '"></input>'
        let button = ['<button onclick="update_device(', col, ', ' + row + ')">save update</button>'].join("'")
        console.log("prep_update | input: " + input + "   button: " + button)
        span.innerHTML = input + button
    }

    function unique_id(col, row) {
        console.log("unique_id | col: " + col + "   row: " + row)
        let new_id = "col_" + col + "-row_" + row
        return new_id
    }

    function update_device(col, row) {
        col = col.split(" ").join("")
        let this_id = unique_id(col, row)
        let value = document.getElementById(this_id).firstChild.value
        console.log("retrieved value from input: " + value)
        if (col === "mac_addr") { update_device_mac_addr(value, row) }
        if (col === "ip_addr") { update_device_ip_addr(value, row) }
    }

    // send the update to the server
    function update_device_mac_addr(value, row) {
        let data = new FormData()
        data.append("value", value)
        data.append("id", row)
        console.log("update MAC address: " + data)
        let url = "{{ url_for('crud_gui.update_device_mac_addr') }}"
        fetch(url, { method: "POST", body: data })
            .then(window.location.reload(true))
    }
    // send the update to the server
    function update_device_ip_addr(value, row) {
        let data = new FormData()
        data.append("value", value)
        data.append("id", row)
        console.log(data)
        let url = "{{ url_for('crud_gui.update_device_ip_addr') }}"
        fetch(url, { method: "POST", body: data })
            .then(window.location.reload(true))
    }
</script>
{% endblock %}